body{
  margin: 0;
  padding: 0;
  background: #f8f8d5;
}

*{
  font-size: 13px;
}


.flex{
  display: flex;
}

.wrapper{
  flex-direction: column;
  align-items: center;
}

.media-item{
  width: 1200px;
}

.header{
  height: 32px;
  margin-top:48px;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px;
  margin-bottom: 5px;

  span:nth-last-child(1){
    margin: 0 5px;
  }

  label:nth-last-child(1){
    span:nth-last-child(1){
      display: none;
    }
  }
}



.footer{
  height: 64px;
  margin-top: 10px;
  border-top:solid 1px #ccc;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


input,select,button{

  &:focus{
    outline: none;
  }
}
