body{
  margin: 0;
  padding: 0;
}



.wrapper{
  width: 100%;
}

.header-bar{
  width:  100%;
  height: 60px;
  background: #f0f0aa;
  border-bottom: solid 1px #f0f0f0;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-bottom: solid 2px darken(#f0f0aa,50%);
}

.main-left{
  width: 10%;
  background: darken(#f0f0aa,10%);
  position: fixed;
  top:62px;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  ul{
    list-style: none;
    padding: 0;
    display: block;
    width: 100%;
    li{
      line-height: 40px;
      vertical-align: middle;
      text-align: center;
      width: 100%;
      &:hover{
        cursor: pointer;
      }
    }
  }
}

.main-right{
  width: 90%;
  background: #f0f0f0;
  position: fixed;
  top:62px;
  right: 0;
  bottom: 0;
}